.ui.large.top.fixed.hidden.menu > .ui.container > .right.menu > .ui.buttons
{
    margin-top: 100px;
}
.hidden.menu {
    display: none;
}
.ui.inverted.vertical.masthead.center.aligned.segment{
    background: url("../../public/basketbol_myach_sport_115164_1920x1080.jpg");
}
.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}
#success-block{
    max-width: 450px;
    height: 180px;
    margin-left: -220px;
}
#count-likes{
    margin-left:22px;
}
.ui.labeled.button > #count-likes{
    height: 36px;
}
.ui.labeled.button {
    height: 30px;
    border: 2px solid black;
}
.twitter-share-button{
    height: 100px;
}
#field-new-post{
    margin-left: 10px;
    margin-right: 10px;
}
#field-new-post-descr
{
    margin: auto;
    width: 50%;
    padding: 10px;
}
#new-post-button{
    width: 50%;
    margin-left:225px;
}
#new-post-block{
    background: url("../../public/olen_minimalizm_vektor_fon_priroda_93845_1440x900.jpg");
}
#misha-m{
    height: 38px;
    border: 1px solid lightgray;
    margin-right: 20px;
    background: #e0e1e2;
}
#image-all{
    width: 300px;
    margin-right: 20px;

}
#img-q{
    border: 2px solid lightgray;
    margin-left: 9px;
}
#video-all{
    width: 300px;
    margin-right: 20px;
}
#swagger-link{
    margin-top:-30px;
    margin-left: 35px;
}
#git-img{
    margin-top: 4px;
}
#git-link{
    margin-top: -30px;
    margin-left: 35px;
    margin-bottom: -50px;
}